Flask==2.0.3
canvasapi==2.2.0
gunicorn==20.1.0
google-api-python-client==2.42.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-auth==2.6.2
Flask-WTF==1.0.1
Jinja2==3.0.3
Werkzeug==2.0.3
WTForms==3.0.1