footer {
    text-align: center;
    padding: 3px;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.h1, .h3, .p, .div, .body {
    font-family: 'Questrial', sans-serif;
}