footer {
    text-align: center;
    padding: 3px;
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
<<<<<<< Updated upstream
=======
}

body {
    font-family: 'Questrial', sans-serif;
>>>>>>> Stashed changes
}