<html>
    <head>
        <!-- importing style sheet-->
        <link rel="stylesheet" href="/static/docs_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <!-- importing JS code -->
        <script src="/static/index.js"></script>

        <!-- importing Bootstrap library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                
        <!-- Adding a title to the docs page-->
        <title> Documentation </title>
    </head> 

      <!-- NAVBAR CODE -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Classroom Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="docs">Docs<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>

<!-- Body of page is developed here -->

<!-- BACKGROUND IMAGE -->
<body class="bg-image ml-0 shadow-1-strong rounded text-secondary"
style="background-image: linear-gradient(160deg, white 0%, #CAE9F5 100%);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-attachment: fixed; background-size: 100%;">

<!-- GETTING STARTED -->
<h1 class="mb-3 text-center"><br>Documents</h1>
<p class="mb-5 ml-3">
        <h3>Getting Started:</h3>
        <div>
        1. Using the checkbox, choose if you will use Canvas (default) or a CSV file for your class list. <br>
        2. If using Canvas, click the box on the left to sign in.  If using a CSV file, use the box on the left to upload. <br>
        3. Use the box on the right to sign into your Google Classroom <br>
        4. Click the migrate button.  Classroom Creator automatically creates your Google Classroom and reports changes.
        </div>
      </p>
      <br>

      <!-- SAMPLE VIDEO -->
      <p class="text-left ml-3"> 
        <h3>Sample Video:</h3>
        <div>
          Here is a sample video on how to migrate your data once Canvas is connected:
        <br>
        <iframe width="560" height="315" 
              src="https://www.youtube.com/embed/U0oGDyFpHOs" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </div>
    </p>

      <!-- FAQ-->
      <p class="mb-5 ml-3">
        <h3>FAQ:</h3>
        <div>
          1. How should I format my CSV file?<br>
          <!--FIXME: ADD SAMPLE CSV URL-->
          &emsp;&emsp;See the <a href="google.com">sample CSV file</a><br>
          2. Can I add new Google Classrooms if I already have existing classes?<br>
          &emsp;&emsp;Yes! Classroom Creator will automatically check for existing classes and record a log of changes.<br>
          3. How do I know my classroom data is safe?<br>
          &emsp;&emsp;Classroom Creator does not directly access the data, instead using Google and Canvas API's to transfer data.<br>
          4. How do I contact Classroom Creator with questions or support requests?<br>
          &emsp;&emsp;Contact by email at <a href = "mailto: UFClassroomCreator@gmail.com">UFClassroomCreator@gmail.com</a>. Please allow 48 hours for a response. <br>
        </div>
        <br>
        </p>
    <!-- END OF THE BODY CODE -->

      <!-- FOOTER COMPONENT -->
      <footer> 
        <p1 class="ml-3"> Developed by Team 9 From Outer Space</p1>
        <p1> @ The University of Florida, CEN 3031, Spring 2022</p1>
        <p1> </p1>
      </footer>
</body> 
</html>

      
     