<html>
    <head>
        <!-- importing style sheet-->
        <link rel="stylesheet" href="/static/index_style.css">

        <!-- importing google ajax api -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- importing JS code -->
        <script src="/static/index.js"></script>

        <!-- importing Bootstrap library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Adding a title to the main page-->
        <title> Home </title>

        

    </head>
    <body>
      <!-- ALL THE NAVBAR CODE -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Classroom Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="docs">Docs</a>
                </li>
              </ul>
            </div>
          </nav>

    <!-- body of page is developed here -->
    <br>

    <!--CSV CHECKBOX-->
    <!-- If a CSV has NOT been uploaded, box is checkable. Box will change the text in Canvas Box b/w CSV Uploader OR Canvas Sign-in Button -->
    <!-- If a CSV HAS BEEN UPLOADED, checkbox is DISABLED. (might want to change later). -->
    {%if csvUploadSuccess == False %}
      <input type="checkbox" id="enable_uploads" onchange="changeCanvasBox(this)"/> 
      <label for='enable_uploads'> Upload CSV (Experienced Users Only) </label>
    {% endif %}
    {%if csvUploadSuccess == True %} 
      <input type="checkbox" id="enable_uploads" onchange="changeCanvasBox(this)" disabled/> 
      <label for='enable_uploads'> Upload CSV (Experienced Users Only) </label>
    {% endif %}
    <br>
    
    <!-- BOOTSTRAP GRID ORGANIZATION: (MAIN APPLICATION COMPONENTS) -->
    <div class="row"> <!-- Row 1 -->

      <!-- (B1) CANVAS SIGN IN BOX: have to add the proper button-->
      <!-- Canvas Component Spans 5 Columns. -->
      <div class="col-5">
        
        <!-- Canvas sign-in OR CSV Upload Box. -->
        <div class="box canvasSignInBox">
          {%if csvUploadSuccess == False%}
          <label id="canvasSignInBoxText"> Sign in With Canvas </label>
              <!-- If Checkbox is clicked, display: -->
              <div id="uploads">
              <form id="uploadCSV" method='POST' enctype ='multipart/form-data'>
                {{ form.hidden_tag() }}
                {{ form.file() }}
                {{ form.submit() }}
              </form>
              </div>
          {% endif %}
          {% if csvUploadSuccess == True %}
              <label id="canvasSignInBoxText"> Uploaded CSV: </label>
                {{filename}}
          {% endif %}
        </div>
      </div>

      <!-- Want the Migrate Button to Span 2 Columns -->
      <div class="col-2">
         <!--MIGRATE BUTTON 
                Add funcionality-->
                <button class="migratebutton" style="margin-top: 150px;" disabled>
                 Migrate Data
                </button>
      </div>

      <!-- Want Google Component to Span 5 columns. -->
      <div class="col-5 justify-contents:right">
          <!-- (B2 GOOGLE SIGN IN BOX)
            Add functionality-->
      <div class="box googleSignInBox">
        <!-- Need to change the onsucess to the function to triggle the text change in the status bar. -->
        <a class="button" href="/google_login">Google Login</a>
      </div>
    </div>
    </div> <!-- End of 1st row div. -->

    <!-- Beginning of Row 2: (Buttons) -->
    <div class="row">
      
      <!-- (B3 CANVAS STATUS BAR) -->
      <div class="col-5">
        <div class=" box canvasStatusBar">
          <!-- Add functionality; Change to green background upon Canvas sign in with new message -->
          {%if csvUploadSuccess %}
            <label id= "canvasStatusBar"> CSV data received </label>
            {% endif %}
          {% if csvUploadSuccess == False %} 
            <label id="canvasStatusBar"> Canvas Not Ready
          {% endif %}
        </div>
      </div>

      <!-- Empty Placeholder for migrate button -->
      <div class="col-2"></div>

      <!-- Google Status Bar (Add functionality). -->
      <div class="col-5">
          <div class="box googleStatusBar">
            <!--Add functionality; Change to green success display upon Google sign in with new message -->
            GOOGLE NOT READY
        </div>
      </div> <!-- End of Last column to the right -->
    </div> <!-- End of Row 2 -->
  
    <!-- Reference to documentation page -->
    <div style="clear:both;">
      <a href="docs">First time user?  Click here for tutorial</a>
    </div>




</body> <!-- End of Application Page -->
    
  <!-- FOOTER COMPONENT -->
  <footer> 
    <p1> Developed by Team 9 From Outer Space</p1>
    <p1> @ The University of Florida, CEN 3031, Spring 2022</p1>
    <p1> </p1>
  </footer>
</html>