<html>
    <head>
        <!-- importing style sheet-->
        <link rel="stylesheet" href="/static/index_style.css">

        <!-- importing google ajax api -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- importing JS code -->
        <script src="/static/index.js"></script>

        <!-- importing Bootstrap library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Adding a title to the main page-->
        <title> Home </title>

        

    </head>
    <body >
      <!-- ALL THE NAVBAR CODE -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Classroom Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="docs">Docs</a>
                </li>
              </ul>
            </div>
          </nav>

    <!-- body of page is developed here -->
    <br>

    <!--CSV CHECKBOX-->
    <!-- If a CSV has NOT been uploaded, box is checkable. Box will change the text in Canvas Box b/w CSV Uploader OR Canvas Sign-in Button -->
    <!-- If a CSV HAS BEEN UPLOADED, checkbox is DISABLED. (might want to change later). -->
    
    <br>
    
    <!-- BOOTSTRAP GRID ORGANIZATION: (MAIN APPLICATION COMPONENTS) -->
    <div class="d-flex justify-content-center"> <!-- Row 1 -->

      <!-- (B1) CANVAS SIGN IN BOX: have to add the proper button-->
      <!-- Canvas Component Spans 5 Columns. -->
      <div class="col-3-">
        {%if csvUploadSuccess == False and canvas == false %}
        <div class="form-check form-switch csv-checkbox" >
          <input type="checkbox" id="enable_uploads" /> 
          <label for='enable_uploads'> Upload CSV </label>
        </div>
        {% endif %}
      
        <!-- Canvas sign-in OR CSV Upload Box. -->
        
        <div class="box">
          {%if csvUploadSuccess == False and canvas == False%}
          <img src="static/assets/canvas.png" class="img-fluid canvas-login">
          
          <button type="button" class="btn btn-outline-danger canvas-login" id="canvas-connect">Connect</button>
              <!-- If Checkbox is clicked, display: -->
              <div id="uploads" class="text-left">
                <form id="uploadCSV" method='POST' enctype ='multipart/form-data' class="form-control">
                  <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.file(class_="mx-auto")}}
                  </div>
                  <div class="form-group">
                    {{ form.submit(class_="btn btn-success") }}
                  </div>
                  
                </form>
              </div>
              <div id="canvas-form" class="text-left">
                <form id="canvas-auth" method='POST' action="/canvas_connect" enctype ='multipart/form-data' class="form-control-md pt-5">
                  <form class="form-signin">
                    <div class="form-group">
                      <h1 class="h3 mb-3 font-weight-normal">Canvas API Connect</h1>
                    </div>
                    <div class="form-group">
                    <label for="canvas-domain">Canvas Domain URL </label>
                    <input type="url" name="url" id="canvas-domain" class="form-control" placeholder="Canvas Domain" required autofocus>
                    <small id="urlHelp" class="form-text text-muted">Example: canvas.instructure.com</small>
                    </div>
                    <div class="form-group">
                    <label for="api-key">API Key</label>
                    <input type="password" name="api-key" id="api-key" class="form-control" placeholder="API Key" required>
                    <small id="urlHelp" class="form-text text-muted">Help: 
                      <a href="https://community.canvaslms.com/t5/Instructor-Guide/How-do-I-manage-API-access-tokens-as-an-instructor/ta-p/1177" target="_blank">Instructor API Access Token</a>
                    </small>
                    <small id="urlHelp" class="form-text text-muted">Help: 
                    <a href="https://community.canvaslms.com/t5/Admin-Guide/How-do-I-add-a-developer-API-key-for-an-account/ta-p/259" target="_blank">LTI Devoloper Key</a>
                    </small>
                    
                    </div>
                    <div class="form-group">
                    <button class="btn btn-md btn-success" type="submit" id="connect-canvas">Connect</button>
                    <button class="btn btn-md btn-danger" type="button" id="cancel-connect">Cancel</button>
                    </div>
                  </form>
                </form>
              </div>
          {% endif %}
          {% if csvUploadSuccess == True %}
            <label id="canvasSignInBoxText" class="pt-5"> Uploaded CSV: </label>
            <span class="font-weight-bold" id="filename">{{filename}}</span>             
          {% endif %}
          {% if canvas == True %}
          <img src="static/assets/canvas.png" class="img-fluid">
            <div class="border boreder-secondary">
            <ul class="list-group list-group-flush" id="canvas-courses">
            </ul>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- Want the Migrate Button to Span 2 Columns -->
      <div class="col-2 d-flex justify-content-center">
        <div class="d-flex align-items-center">       
          <span class="align-items-center">
            {% if canvas == True %}
            <button type="button" class="btn btn-primary" id="migrate_canvas">Migrate Classrooms</button>
            {% endif %}
            {% if csvUploadSuccess == True %}
            <button type="button" class="btn btn-primary" id="migrate_csv">Migrate Classrooms</button>
            {% endif %}
            {% if csvUploadSuccess == False and canvas == False %}
            <button type="button" class="btn btn-secondary" disabled>Migrate Classrooms</button>
            {% endif %}
          </span>
        </div>      
      </div>

      <!-- Want Google Component to Span 5 columns. -->
      <div class="col-3- justify-contents:right">
          <!-- (B2 GOOGLE SIGN IN BOX)
            Add functionality-->
      <div class="box  ">
        <img src="static/assets/g-classroom.png" class="img-fluid" >
        <div class="border boreder-secondary">
        <ul class="list-group list-group-flush" id="google-courses">
        </ul>
        </div>
      </div>
      </div>
    </div> <!-- End of 1st row div. -->

    <!-- Beginning of Row 2: (Buttons) -->
    <div class="d-flex justify-content-center">
      
      <!-- (B3 CANVAS STATUS BAR) -->
      <div class="col-3-">
        <div class=" box ">
          <!-- Add functionality; Change to green background upon Canvas sign in with new message -->
          {%if csvUploadSuccess == True or canvas == True%}
          <button type="button" class="btn btn-outline-success" disabled>
            <span class="position-relative text-secondary">
              Ready
              <span class="badge badge-sm badge-success rounded-circle ml-2 text-success">6</span>
            </span>
          {% endif %}
          {%if csvUploadSuccess == True %}
          <button type="button" class="btn btn-outline-danger ml-1" id="cancel-csv" >
            Cancel
          </button>
          {% endif %}
          {%if canvas == True %}
          <button type="button" class="btn btn-outline-danger ml-1" id="cancel-canvas" >
            Cancel
          </button>
          {% endif %}
          {% if csvUploadSuccess == False and canvas == False %} 
          <button type="button" class="btn btn-outline-danger" disabled>
          <span class="position-relative text-secondary">
            Not Ready
            <span class="badge badge-sm badge-danger rounded-circle ml-2 text-danger">6</span>
          </span>
         </button>
          {% endif %}
        </div>
      </div>

      <!-- Empty Placeholder for migrate button -->
      <div class="col-2"></div>

      <!-- Google Status Bar (Add functionality). -->
      <div class="col-3-">
          <div class="box ">
            <button type="button" class="btn btn-outline-success" disabled>
              <span class="position-relative text-secondary">
                Ready
                <span class="badge badge-sm badge-success rounded-circle ml-2 text-success">6</span>
              </span>
             </button>
             <button type="button" class="btn btn-outline-success" id="switch-user" >
              Switch User
             </button>
        </div>
      </div> <!-- End of Last column to the right -->
    </div> <!-- End of Row 2 -->
  
</body> <!-- End of Application Page -->
    
  <!-- FOOTER COMPONENT -->
  <footer class="footer"> 
    <p1> Developed by Team 9 From Outer Space</p1>
    <p1> @ The University of Florida, CEN 3031, Spring 2022</p1>
    <p1> </p1>
  </footer>
</html>